<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{base :: head}"></th:block>
    <title>Employee App</title>

    <!--  Validation import  -->
    <th:block th:insert="~{import :: jquery}"></th:block>
    <th:block th:insert="~{import :: validation}"></th:block>
</head>
<body>

<header th:insert="~{base :: header}"></header>
<div class="container gap-4">
    <table class="table table-hover table-striped mx-2 overflow-x-auto">
        <thead>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Position</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Email</th>
        </thead>
        <tbody>
        <tr th:each="employee: ${employees}">
            <td th:text="${employee.getFirstname()}"></td>
            <td th:text="${employee.getLastname()}"></td>
            <td th:text="${employee.getPosition().name().toLowerCase()}"></td>
            <td th:text="${employee.getDob()}"></td>
            <td
                    th:text="${employee.getEmail() == null}? '-' : ${employee.getEmail()} "></td>
        </tr>
        </tbody>
    </table>

    <form action="" method="POST"
          class="row justify-content-center gap-4 px-2 py-4 mx-2 border border-2 rounded-3" id="employee_form">
        <legend class="text-center">Добавити працівника</legend>
        <div class="firstname input-group">
            <span class="input-group-text">Введіть ім'я</span>
            <input class="form-control" type="text" name="firstname" id="firstname" placeholder="John" required minlength="2">
        </div>
        <div class="lastname input-group">
            <span class="input-group-text">Введіть прізвище</span>
            <input class="form-control" type="text" name="lastname"
                   id="lastname" placeholder="Doe" required minlength="2">

        </div>
        <div class="position input-group">
            <span class="input-group-text">Оберіть посаду</span>
            <select class="form-select" name="position" id="position" required>
                <option value="developer">Developer</option>
                <option value="designer">Designer</option>
                <option value="manager">Manager</option>
                <option value="devops">DevOps</option>
                <option value="hr">HR</option>
            </select>
        </div>
        <div class="dob input-group">
            <span class="input-group-text">Ваша дата народження</span>
            <input class="form-control" type="date" name="dob" id="dob" required>
        </div>
        <div class="email input-group">
            <span class="input-group-text">Введіть вашу пошту</span>
            <input class="form-control" type="email" name="email" id="email"
                   placeholder="johndoe@email.com">
        </div>
<!--        <div class="input-group">-->
<!--            <button class="btn btn-primary form-control"-->
<!--                    id="show_json">Show json</button>-->
<!--        </div>-->
        <div class="input-group">
            <input class="btn btn-outline-primary form-control" type="submit"
                   value="Добавити працівника">
        </div>
    </form>

</div>

<!--  Scripts   -->
<!--    Sending data to server    -->
<script th:src="@{js/index.js}"></script>

</body>
</html>